* {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0px;
  padding: 10px;
  /* min-height: 69px; */
  width: 100%;
  display: flex;
  background-image: url(/HTML/homework_5/imagebanner.jpeg);
  background-size: cover;
  background-position: center;
  justify-content: center; 
  align-items: center; 
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

nav>div {
  display: flex;
}

nav img {
  margin-right: 10px;
}

h3 {
  color: white;
  margin: 0;
}

header > h3:last-child {
  color: chartreuse;
  margin: 0;
}

header > h1:hover {
  text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .galleryGrid {
    display: grid;
    /* можно указывать размер в пикселях */
    /* grid-template-columns: 200px 200px 600px; */
    /* количество значений равно числу колонок */
    /* значение можно указывать также во фреймах (долях) от ширины*/
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* auto-fill создает пустые колонки если места не хватает, auto-fit схлопывает пустые колонки */
    /* minmax принимает два параметра, первый минимальная величина, вторая максимальная */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
    width: 80%;
    margin-bottom: 20px;
  }
  
  
  .imgContainerGrid {
    width: 100%;
    overflow: hidden;
  }
  
  .imgContainerGrid>img {
    width: 100%;
    height: 100%;
    /* contain не обрезая картинку, помещает ее в контейнер, оставляя свободное место */
    /* cover обрезает картинку */
    /* fill растягивает картинку */
    object-fit: cover;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  footer {
    height: 100px;
    background-color: darkred;
    padding: 20px;
  }
  
  /* медиа запросами мы добавляем специфические css свойства при изменении пропорций видимой области в браузере */
  /* d  */
  
  /* в данном примере на экранах меньше по ширине, чем 1024px будут отображаться свойства, написанные ниже */
  @media screen and (max-width: 1024px) {
    header {
      background-color: rgb(165, 118, 42);
    }
  }

  @media screen and (max-width: 390px) {
    header>h3 {
      display: none;
      overflow: auto;
    }
  
    header {
      background-color: brown;
    }
  }