* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: darkgreen;
}

footer {
    height: 100px;
    width: 100%;
    background-color: brown;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* display: flex; */
    flex: 1;
}